@keyframes slidein {
        from { transform: translateX(-100%)}
        to { transform: translateX(0%)}
}

@keyframes rotateMenuClose {
        from { transform: rotate(0deg)}
        to { transform: rotate(1440deg)}
}

@keyframes fadein {
        from {opacity: 0}
        to {opacity: 1}
}

.mobile_menu {
        position: absolute;
        height: 100vh;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 1.2rem;
        background-color: rgb(34, 31, 33);
        text-align: center;
        width: 100%;
        z-index: 9999;
        padding: 5px 0 5px 0;
        animation: slidein 0.5s forwards;
}

.menu_link {
        display: block;
        font-family: monospace;
        text-decoration: none;
        color: white;
        margin-top: 10px;
        animation: fadein 3s forwards;
        text-decoration: underline;
        text-decoration-color: rgb(226, 7, 226);
        text-underline-offset: 3px;
}

.menu_close {
        position: absolute;
        top:0;
        right: 0;
        height: 30px;
        width: 30px;
        color: pink;
        animation: rotateMenuClose 1.5s forwards;
        cursor: pointer;
}