.category_container {
        padding: 5px;
        text-align: center;
}

.category_title {
        margin: 0;
}

.categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding-top: 10px;
        text-align: center;
}

.sub_category{
        border: 2px solid rgb(185, 166, 166);
        display: flex;
        flex-direction: column;
        text-decoration: none;
}

.category_thumbnail {
        width: 100%;
}

.category_name {
        color: rgb(0, 0, 0);
        margin: 5px;
}