.deal_container {
        text-align: center;
}

.deal_title {
        color:rgb(6, 134, 96);
}

.deal_products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
        padding: 5px;
}

.deal_product {
        text-align: left;
        border: 1px solid rgb(228, 225, 225);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
}

.product_image {
        width: 100%;
}

.product_name {
        color: rgb(0, 0, 0);
        margin: 3px 0 0 0;
}

.product_price {
        color: rgb(38, 0, 255);
        margin: 0 0 3px 0;
}