.container {
        text-align: center;
        padding: 0 5px 0 5px;
}

.products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
}

.product {
        border: 1px solid rgb(170, 167, 169);
        text-align: left;
        display: flex;
        font-size: 0.8rem;
        flex-direction: column;
        text-decoration: none;
}

.product_thumbnail {
        width: 100%;
}

.product_name {
        margin: 3px 0 0 0;
        color:rgb(0, 0, 0);
}

.product_price {
        margin: 0 0 3px 0;
        color:rgb(38, 0, 255);
}