.deals_container {
}

.deal_item {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 5px 0 5px;
        border: 1px solid rgb(146, 124, 124);
        border-radius: 2px;
        margin-bottom: 5px;
}

.deal_title {
        text-decoration: none;
        color: rgb(53, 49, 49);
        font-family: monospace;
        font-size: 1.5rem;
}

.deal_info {
        color: rgb(10, 10, 10);
        font-style: italic;
        font-weight: 600;
}

.deal_products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
}

.p_thumbnail {
        width: 100%;
}

.p_item {
        border: 1px solid rgb(138, 123, 123);
        text-decoration: none;
        padding: 2px;
}

.view_all {
        text-decoration: none;
        background-color: rgb(141, 5, 134);
        color: white;
        margin: 5px 0 5px 0;
        padding: 10px 0 10px 0;
        border-radius: 2px;
}