.search_field {
	text-align: center;
}

.search {
	display: flex;
	flex-direction: row;
	margin: auto;
	height: 2.3rem;
	width: 90%;
}

.visually_hidden {
	clip-path: inset(50%);
	overflow: hidden;
	position: absolute;
}

.search_term {
	display: inline-block;
	outline: none;
	font-size: 1.2rem;
	width: 100%;
	border: 2px solid blue;
	border-right: none;
	border-radius: 1px 0 0 1px;
}

.search_term:focus, .search_term:focus + .button {
	border-color: rgb(165, 163, 163);
}

.button {
	padding: 3px;
	background-color: blue;
	border: 2px solid blue;
	border-radius: 0 1px 1px 0;
}

.search_button {
	color:cornsilk;
}