.c-item-container {
        height: 100%;
        width: 100%;
        text-align: center;
}

.c-thumbnail {
        height: 50%;
        border: 1px solid red;
}

.c-name {
        margin-top: 1px;
        font-size: 0.8rem;
        border: 1px solid blue;
}