.mb_nav {
        padding: 5px;
        background-color: rgb(231, 154, 213);
}

.navbar {
        height: 25px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding:5px;
        margin-bottom: 5px;
}

.logo {
        height: 100%;
        width: 3rem;
        flex: 5;
        border-radius: 50%;
        align-self: center;
        border: 1px solid red;
}

.app_logo {
        flex: 6;
        width: 100vw;
        padding: 2px;
        width:max-content;
}

.signin {
        text-decoration: none;
        align-self: center;
        flex: 1;
}

.cart {
        align-self: center;
        text-decoration: none;
        flex: 1;
}

.cart_and_items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 5px;
}

.no_of_cartitems {
        width: 8px;
        height: 8px;
        font-family: sans-serif;
        font-size: 0.6rem;
        text-align: center;
        color: white;
        font-weight: bold;
        align-self: flex-start;
        position: relative;
        right: 3px;
        bottom: 3px;
        border-radius: 50%;
        background-color: rgb(240, 12, 221);
}

.cart_icon {
        color: green;
}

.menu {
        align-self: center;
        width: 15px;
        height: 15px;
}

