.mb_nav {
        position: relative;
        padding-top: 5px;
}

.navbar {
        height: 30px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        padding: 0 5px 0 5px;
        margin-bottom: 7px;
}

.logo {
        width: 3rem;
        height: 100%;
        flex: 5;
        border-radius: 50%;
        align-self: center;
        border: 2px solid rgb(182, 6, 21);
}

.app_logo {
        flex: 10;
        margin: 0;
}

.signin {
        text-decoration: none;
        align-self: center;
        flex: 2;
        font-size: 1.3rem;
        text-align: left;
}

.cart {
        align-self: center;
        text-decoration: none;
        flex: 2;
}

.cart_and_items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
}

.no_of_cartitems {
        width: 0.85rem;
        height: 0.71rem;
        font-family: sans-serif;
        font-size: 0.6rem;
        text-align: center;
        color: white;
        font-weight: bold;
        align-self: flex-start;
        position: relative;
        right: 3px;
        bottom: 3px;
        border-radius: 50%;
        border: 1px solid red;
        background-color: rgb(170, 9, 157);
}
 
.cart_icon {
        color: rgb(11, 194, 226);
        width: 1.2rem;
        height: 1.2rem;
}


/* menu-icon styles */
.menu {
        align-self: center;
        width: 1.7rem;
        height: 1.7rem;
        flex: 1;
        color: rgb(63, 44, 44);
        cursor: pointer;
        border-radius: 2px;
        border: 1px solid rgb(223, 218, 218);
}

@media screen and (min-width: 427px) {
        .no_of_cartitems {
                padding-top: 0.1rem;
        }
}