.mb_nav {
        padding: 5px 0 5px 0;
        background-color: rgb(231, 154, 213);
        position: relative;
}

.navbar {
        height: 30px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        padding: 0 5px 0 5px;
        margin-bottom: 7px;
}

.logo {
        width: 50px;
        height: 100%;
        flex: 5;
        border-radius: 50%;
        align-self: center;
}

.app_logo {
        flex: 10;
        margin: 0;
}

.signin {
        text-decoration: none;
        align-self: center;
        flex: 2;
        font-size: 1.3rem;
        text-align: left;
}

.cart {
        align-self: center;
        text-decoration: none;
        flex: 2;
}

.cart_and_items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
}

.no_of_cartitems {
        width: 8px;
        height: 8px;
        font-family: sans-serif;
        font-size: 0.6rem;
        text-align: center;
        color: white;
        font-weight: bold;
        align-self: flex-start;
        position: relative;
        right: 3px;
        bottom: 3px;
        border-radius: 50%;
        background-color: rgb(240, 12, 221);
}
 
.cart_icon {
        color: green;
        width: 12px;
        height: 12px;
}

.menu {
        align-self: center;
        width: 20px;
        height: 20px;
        flex: 1;
        color: rgb(63, 44, 44);
        cursor: pointer;
        border: 1px solid whitesmoke;
        border-radius: 2px;
}

