html {
  font-size: medium;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: 4px solid rgb(156, 5, 5);
	background-color: rgb(250, 246, 234);
}

@media screen and (max-width: 319px) {
	html {
		font-size: 0.7rem;
	}
}

@media screen and (min-width: 320px) and (max-width: 426px) {
	html {
		font-size: 0.7rem;
	}
}

@media screen and (min-width: 427px) and (max-width: 769px) {
	html {
		font-size: 0.9rem;
	}
}

@media screen and (min-width: 770px) {
	html {
		font-size: 1rem;
	}
}